.container {
  overflow: hidden;
  width: 100%;
}
@media (min-width: 1200px) {
  .container {
    width: var(--widthContainer);
  }
}
.canvasArea {
  width: 110%;
  margin-left: -5%;
  margin-right: -5%;
}
