.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: none;
}
@media (min-width: 1200px) {
  .container {
    width: var(--widthContainer);
  }
}
@media (min-width: 768px) {
  .container {
    display: block;
  }
}
.canvasArea {
  width: 110%;
  margin-left: -5%;
  margin-right: -5%;
}
