.how {
  position: relative;

  /* background-color: rgb(211, 182, 182); */
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  animation: Show 1s linear;
}

@media (min-width: 768px) {
  .how {
    left: 52px;
    width: calc(100% - 104px);
  }
}

.text {
  font-size: 100px;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  display: block;
}

@keyframes Show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

p {
  margin: 0;
}