.container {
  width: 100%;
  position: fixed;
  font-size: 0;
  border-left: solid 0.1px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
}
.link {
  writing-mode: vertical-lr;
  text-align: center;
  transform: rotate(180deg);
  height: 100%;
  overflow: hidden;
  border-left: solid 0.1px rgba(0, 0, 0, 0.3);
  display: none;
  font-size: 20px;
  width: 40px;
  line-height: 40px;
  color: black;
  font-weight: 600;
  background: white;
}

.link:hover {
  background: transparent;
}

.openLink {
  width: calc(100% - 160px);
  border-right: solid 0.1px rgba(0, 0, 0, 0.3);
  background: white;
}

.wrapper {
  position: fixed;
  width: 100%;
  visibility: hidden;
}

@media (min-width: 768px) {
  .container {
    display: inline-flex;
  }

  .link {
    display: block;
  }

  .wrapper {
    visibility: visible;
  }
}
@media (min-width: 1200px) {
  .container {
    width: var(--widthContainer);
  }
}
.appearDone {
  /* flex-basis: calc(100% - 100px); */
  /* width: 100%; */
  /* width: calc(100vw - 102px); */
}

.enter {
  /* flex-basis: 50%; */

  /* width: 0; */
}

.enterActive {
  /* flex-basis: 70%; */
  /* width: 100%; */
  /* transition: flex-basis 500ms linear; */
}

.enterDone {
  /* flex-basis: calc(100% - 160px); */
  /* width: 100%; */
  /* width: 500px; */
}

.exit {
  /* flex-basis: calc(100% - 160px); */
  /* display: none; */
  /* overflow: hidden; */
}

.exitActive {
  /* display: none; */
  /* overflow: hidden; */
}

.exitDone {
  /* display: none; */
  /* overflow: hidden; */
}
