.container {
  height: 100vh;
  position: relative;


}

.logo_modify {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  z-index: 10;
  display: none;
}

/* .img {
  display: block;
  width: 10px;
  height: 10px;
  object-fit: contain;
} */
.specialization {
  list-style: none;
  padding: 0;
  padding: 100px;
  animation: Show 1s;
}

.scene {
  padding: 0;
  perspective: 100vw;
  height: 200px;
  box-shadow: 0 0 20px rgba(235, 127, 33, 191)
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  font-size: 120px;
}

.enterActive {
  transform: rotateY(180deg);
}

.enterDone {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__face_back {
  transform: rotateY(180deg);
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 30px; */
}

@media (min-width: 768px) {
  .container {
    left: 40px;
    width: calc(100% - 160px);
  }

  .scene {
    height: initial;
  }

  .specialization {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* padding: 6vh; */
    grid-gap: 75px;
    overflow: hidden;
    height: 100%;
  }

  .logo_modify {
    display: block;
  }
}

@keyframes Show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}