.container {
  position: relative;
  left: 120px;
  width: calc(100% - 160px);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 80%;
}

.line {
  height: 0.8px;
  background-color: black;
}

.address,
.socials,
.phone,
.mail {
  display: flex;
  height: 12vh;
  align-items: flex-end;
}

.address__title,
.phone__title,
.socials__title,
.mail__title {
  font-size: 16px;
  flex-basis: 25%;
}

.address__data,
.phone__data,
.socials__data,
.mail__data {
  font-size: 20px;
}

.footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {

  .address__data,
  .phone__data,
  .socials__data,
  .mail__data {
    font-size: 30px;
  }

  .address__title,
  .phone__title,
  .socials__title,
  .mail__title {
    font-size: 20px;
    flex-basis: 25%;
  }
}

@media (max-height: 400px) {
  .footer {
    bottom: 0;
  }
}