.container {
  font-size: 14px;
  position: relative;
  /* left: 108px; */

}

.header {

  width: 100%;
  text-align: center;
  /* background-color: rgb(126, 77, 77); */
}
.logo{
  display: inline-block;
}
.text {
  width: inherit;
  text-align: center;
  font-size: 100px;
  height: 300px;
  /* border-top: solid 1px rgba(235, 127, 33, 191);
  border-bottom: solid 1px rgba(235, 127, 33, 191); */
  /* background:  */
  background-image: url('../../images/handsPhoto/баннер\ сайт\ блог.png');
  ;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: blanchedalmond; */
}

.list {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.card {
  flex-basis: 35%;
  font-size: 20px;
  margin: 20px 60px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  height: 500px;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.img {
  width: 100%;
  height: 45%;
  object-fit: fill;
}

.cardDescription {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 55%;

}

.cardText {
  flex-basis: 60%;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    left: 160px;
    width: calc(100% - 160px);
  }

  .list {
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }

  .card {
    margin: 20px;
  }
}

@keyframes Show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}